:root {
  --bannercolor: #EBF5FE;
  --titlecolor: #00376E;
  --bodycolordark: #333333;
  --bodycolorlight: #ffffff;
  --summaryblock: #1D2A37;
  --titlefont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --bodyfont: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--titlefont);
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
color: var(--titlecolor);
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

a {
  margin: 0;
  font-family: var(--titlefont);
  color: var(--titlecolor);
  text-decoration: none;
}

p {
margin: 0;
font-family: var(--bodyfont);
color: var(--bodycolordark);
}

.logoname {
  font-family: var(--titlefont);
  font-weight: bold;
  padding-top: 40px;
  padding-left: 86px;
}

header {
  background-color: var(--bannercolor);
  height: 120px;
  width: 100%;
}

header a{
  text-decoration: none;
  font-family: var(--titlefont);
  font-size: 30px;
  color: var(--titlecolor);
  padding: 10px;
  margin: 5px;
  justify-content: flex-end;
}

.header-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

nav {
  text-align: right;
  padding-right: 86px;
  padding-top: 44px;
} 

.about-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content:center;
  max-height: 500px;
  margin-left: 80px;
  margin-right: 80px;
  overflow: hidden;
  margin-top:5%;
  margin-bottom: 5%;
}

.about-content {
  max-width: 500px;  
  font-size: 1.2em;
}

.headshot {
  border-radius: 12px;
  display: inline;
  object-fit: contain;
  max-width: 500px;
}

.section-title {
  width: 300px;
  margin-top: 0px;
  margin-left: 150px;
  margin-bottom: 20px;  
  font-size: 30px;
  max-width: 90%;
}

.project-heading {
  background-color: var(--summaryblock);
  padding: 15px;
  height: auto;
  color: var(--bodycolorlight);
  font-size: 18px;
}

.portfolio-grid {
  margin: 0px auto;
  margin-bottom: 5%;
  max-width: 80%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  grid-template-areas: 
  "p1 p1"
  "p2 p3"
  "p4 p5";
}

.category-gridarea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

#project-1 {
  background-image: url("../images/p1.jpg");
  grid-area: p1
}

#project-2 {
  background-image: url("../images/p2.jpg");
  grid-area: p2;
}

#project-3 {
  background-image: url("../images/p3.jpg");
  grid-area: p3
}

#project-4 {
  background-image: url("../images/02-portfolio-1.jpg");
  grid-area: p4
}

#project-5 {
  background-image: url("../images/02-portfolio-2.jpg");
  grid-area: p5
}

.contact-container {
display: grid;
margin-left: 30%;
margin-right: 25%;
margin-bottom: 5%;
grid-template-columns: 1fr 1fr;
grid-template-rows: 30px 30px;
grid-column-gap: 30px;
grid-row-gap:20px;
grid-template-areas: 
"e g"
"l i";
justify-content: center;
align-content: flex-start;
}

.contact-container img {
padding-right: 8px;
}

.contact-container a{
align-content: top;
}

#email {
grid-area: e;
display: flex;
justify-content: center;
align-items: center;
}

#github {
grid-area: g;
display: flex;
justify-content: center;
align-items: center;
}

#linkedin {
grid-area: l;
display: flex;
justify-content: center;
align-items: center;
}

#instagram {
grid-area: i;
display: flex;
justify-content: center;
align-items: center;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: var(--bannercolor);
}