* {
  box-sizing: border-box;
}

:root {
  --bannercolor: #EBF5FE;
  --titlecolor: #00376E;
  --bodycolordark: #333333;
  --bodycolorlight: #ffffff;
  --summaryblock: #1D2A37;
  --titlefont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --bodyfont: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
font-family: var(--titlefont);
color: var(--titlecolor);
}

p {
margin: 0;
font-family: var(--bodyfont);
color: var(--bodycolordark);
}

.logoname {
  font-family: var(--titlefont);
  font-weight: bold;
  padding-top: 40px;
  padding-left: 86px;
}

header {
  background-color: var(--bannercolor);
  height: 120px;
  width: 100%;
}

header a{
  text-decoration: none;
  font-family: var(--titlefont);
  font-size: 30px;
  color: var(--titlecolor);
  padding: 10px;
  margin: 5px;
  justify-content: flex-end;
}

.header-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

nav {
  text-align: right;
  padding-right: 86px;
  padding-top: 44px;
} 

.about-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content:center;
  height: 500px;
  margin-left: 80px;
  margin-right: 80px;
}

.about-content {
  max-width: 500px;  
  font-size: 1.2em;
}

.headshot {
  border-radius: 12px;
  display: inline;
  object-fit: contain;
  max-width: 500px;
}

.portfolio-container {
  display: grid;
  max-width: 90%;
  margin: 0px 10%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  grid-template-areas: 
  "p1 p1"
  "p2 p3"
  "p4 p5";
  gap: 8px;
}

#p1, #p2, #p3, #p4, #p5 {
  background-size: 100%;
}

#p1 {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px;
  grid-template-areas: 
  "p1 p1 p1 p1s";    
  grid-area: p1;
  background-image: url("../images/02-portfolio-1.jpg");

}

#p1-summary {
  grid-area: p1s;

}

#p2, #p3, #p4, #p5 {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px;
}

#p2 {
  grid-template-areas: 
  "p2 p2s";    
  grid-area: p2;
  background-image: url("../images/02-portfolio-2.jpg");
}

#p2-summary {
  grid-area: p2s;
}

#p3 {
  grid-template-areas: 
  "p3 p3s"; 
  grid-area: p3;
  background-image: url("../images/02-portfolio-3.jpg"); 
}

#p3-summary {
  grid-area: p3s;
}

#p4 {
  grid-template-areas: 
  "p4 p4s";
  grid-area: p4;
  background-image: url("../images/02-portfolio-4.jpg");
}

#p4-summary {
  grid-area: p4s;
}

#p5 {
  grid-template-areas: 
  "p5 p5s";
  grid-area: p5;
  background-image: url("../images/02-hero-bg.jpg");
}

#p5-summary {
  grid-area: p5s;
}

.summary {
  background-color: var(--summaryblock);
  color: var(--bodycolorlight);
  padding: 20px;
  align-content: end;
}

.summary p, h3 {
  color: var(--bodycolorlight)
}

.summary p {
  font-style: italic;
  font-weight: lighter;
}